@font-face {
  font-family: 'Basil-Regular';
  src: url('/fonts/Basil-Regular.otf') format('opentype');
}

body {
  background-image: linear-gradient(90deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%) !important;
  background-size: contain; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}

*, #login-profile, #home-title {
  font-family: 'Basil-Regular';
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%) !important;
  height: 2.5em;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 20px 25px 0 rgba(34, 36, 38, .15);
}

.ui.filter.vertical.large.menu{
  width: 100%;
  margin-top: 5.5rem;
}

.primary-content{
  margin-top: 5.5rem;
  max-height: 100vh;
  max-height: 100svh;
}

.primary-container{
  max-height: 100vh;
  max-height: 100svh;
}

#home-logo{
  width: 60%;
  height: auto;
  margin-top: 4.1rem;
  margin-bottom: 'auto'
}

#home-title {
  font-size: 3.6rem;
  margin-top: 2.1rem;
  margin-bottom: 2rem;
}